.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #0168b7;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 18px;
  z-index: 1000;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.navbar ul li {
  padding: 0 12px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 8px 10px;
  border-radius: 4px;
}

.navbar ul li a:hover {
  background-color: #575757;
}

.navbar .lang {
  display: flex;
  gap: 8px;
  align-items: center;
}

.content {
  margin-top: 70px;
  padding: 20px;
}

footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}